<% page_header t('.header') %>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center"><%= t('.contact1') %>
                <strong><%= t('.contact2') %></strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-8">
        <%= image_tag "out4.jpg", class: "img-responsive img-rounded" %>
        </div>
    <div class="col-md-4">
        <p>
            <i class="fa fa-phone"></i> <%= t('.phone') %>:
            <strong>1.860.226.8341</strong>
        </p>
        <p>
            <i class="fa fa-envelope-o"></i> <%= t('.email') %>:
            <strong><a href="mailto:name@example.com">Balern@126.com</a></strong>
        </p>
        <p>
            <i class="fa fa-home"></i> <%= t('.address') %>:
            <strong>
                116-118  绿地商业街,
                <br />  滨海区, 天津
            </strong>
        </p> 
    </div>
    <div class="clearfix"></div>
</div>



<div class="box">
   
        <h2 class="intro-text text-center"><%= t('.form1') %>
            <strong><%= t('.form2') %></strong>
        </h2>
   
    <p>
        <%= t('.paragraph') %>
    </p>
    <br />


    <%= render 'form' %>

</div>
</div>
</div>

