<p id="notice"><%= notice %></p>

<h1>Listing Lesson Plans</h1>

<table>
  <thead>
    <tr>
      <th>Class Number</th>
      <th>Class Level</th>
      <th>Created By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lesson_plans.each do |lesson_plan| %>
      <tr>
        <td><%= lesson_plan.class_number %></td>
        <td><%= lesson_plan.level %></td>
        <td><%= lesson_plan.user.email if lesson_plan.user %></td>
        <td><%= link_to 'Show', lesson_plan %></td>
        <td><%= link_to "Download", lesson_plan.image.url(:original, false) %></td>
        <td><%= link_to 'Edit', edit_lesson_plan_path(lesson_plan) %></td>
        <td><%= link_to 'Destroy', lesson_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson plan', new_lesson_plan_path %>
