<p id="notice"><%= notice %></p>

<%= @lesson_plan.image.url(:medium) %>

<p>
  <strong>level:</strong>
  <%= @lesson_plan.level %>
</p>

<p>
  <strong>Class number:</strong>
  <%= @lesson_plan.class_number %>
</p>

<%= link_to 'Edit', edit_lesson_plan_path(@lesson_plan) %> |
<%= link_to 'Back', lesson_plans_path %>
