<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('.ename') %>:<br />
    <%= f.text_field :ename, :placeholder => "George", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label t('.cname') %>:<br />
    <%= f.text_field :cname, :placeholder => "赵大龙", class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label t('.contract_start') %>:<br />
    <%= f.date_select :contract_start %>
  </div>
  <div class="form-group">
    <%= f.label t('.contract_length') %>:<br />
    <%= f.text_field :contract_length, :placeholder => "# of Class hours", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :Profile_picture %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('.class_name') %>:<br />
    <%= f.collection_select(:group_id, Group.all, :id, :name, prompt: true) %>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label t('.dob') %>:<br />
    <%= f.date_select :dob %>
  </div>
  <div class="form-group">
    <%= f.label t('.emergency_contact') %>:<br />
    <%= f.text_field :emergency_contact, :placeholder => "000 123 6789", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label t('.email') %>:<br />
    <%= f.text_field :email, :placeholder => "example@example.com", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label t('.address') %>:<br />
    <%= f.text_field :address, class: "form-control"  %>
  </div>

<hr>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', students_path, class: "btn btn-danger" %>
  </div>
<% end %>
