<% page_header t('.header') %>
<div class="box">
<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>English Name</th>
      <th>Chinese Name</th>
      <th>Class Name</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <%= will_paginate @students %>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.ename, student %></td>
        <td><%= link_to student.cname, student %></td>
        <td><%= student.group.name %></td>

        <% if current_user.admin? %>
          <td>
            <%= link_to edit_student_path(student) do %>
            <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
          <td>
            <%= link_to student, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>There are currently: <strong><%= @students.count %> Students</strong></p>

<%= will_paginate @students %>
<br />

<%= link_to 'New Student', new_student_path, class: "btn btn-primary" %>
</div>