<div class="box">
<p id="notice"><%= notice %></p>

<h1>
    <div class="page-header">
        <%= @students.count %> Enrolled Students
    </div>
</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>English Name</th>
      <th>Chinese Name</th>
      <th>Class Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= will_paginate @students %>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.ename, student %></td>
        <td><%= link_to student.cname, student %></td>
        <td><%= student.group.name %></td>

        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= will_paginate @students %>
<br />

<%= link_to 'New Student', new_student_path, class: "btn btn-default" %>
</div>