<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('.lead') %><br>
    <%= f.collection_select(:teacher_id, Teacher.all, :id, :ename, prompt: true) %>
  </div>

  <div class="form-group">
    <%= f.label t('.pa') %><br>
    <%= f.collection_select(:pa, Teacher.all, :ename, :ename, prompt: true) %>
  </div>

  <div class="form-group">
    <%= f.label t('.curriculum') %><br>
    <%= f.select :school, ["English","Drum","English & Drum"] %>
  </div>

  <div class="form-group">
    <%= f.label t('.classname') %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
