<div class="box">
    <p id="notice"><%= notice %></p>

    <h1>
      <div class="page-header">
        Viewing All <%= @groups.count %> Classes
      </div>
    </h1>

    <% @groups.each do |group| %>
        <div class="box">
        <strong>Class Name:</strong> <%= link_to group.name, group %><br />
        <strong>Curriculum: </strong><%= group.school %> Student<br />
        <strong>Number of Students</strong>: <%= group.students.count %><br>
        <strong>Next Period</strong>: <%= group.students.count %><br>
        
        <% if current_user.admin? %>
                |<%= link_to 'Add New Period', new_appointment_path %>|
                <%= link_to 'Edit', edit_group_path(group) %>|
                <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <% end %>
        </div>
    <% end %>

    <br>
    <%= link_to 'New Group', new_group_path %>

</div>
