<div class="box">

    <h1>Listing All <%= @groups.count %> Classes</h1>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Class Name:</th>
          <th>Curriculum:</th>
          <% if current_user.admin? %>
            <th>Number of Students:</th>
            <th>Scheduled Classes:</th>
          <% end %>
          <th>Lead Teacher:</th>
          <th>Teaching Assistant:</th>
            <% if current_user.admin? %>
              <th colspan="2">Admin Options</th>
            <% end %>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group %></td>
            <td><%= group.school %></td>
            <% if current_user.admin? %>
              <td><%= group.students.count %></td>
              <td><%= group.events.count %></td>
            <% end %>
            <td><%= group.teacher.ename %></td>
            <td><%= group.ta %></td>
            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_group_path(group) %></td>
              <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
        <%= link_to 'Add New Class', new_group_path, class: "btn btn-primary"  %>
    <%= link_to 'Scheduled Classes', events_path, class: "btn btn-default"  %>
  </div>