<div class="box">
	<% page_header "Add a new class" %>
	<li><%= t('.bullet1') %>
	<li><%= t('.bullet2') %>
	<li><%= t('.bullet2') %>
	<br />
	<br />
	<%= render 'form' %>

	<%= link_to 'Back', groups_path %>
</div>