<div class="box">

		<h1>
			<center>
			  <div class="page-header">
					  <%= @group.name %>
				</div>
			</center>
		</h1>



		<p>
			<strong>Lead Teacher:</strong>
				<%= link_to @group.teacher.ename, @group.teacher %>
		</p>

		<p>
		  <strong>Teaching Assistant:</strong>
		  <%= @group.ta %>
		</p>

		<p>
		  <strong>Studying:</strong>
		  <%= @group.school %>
		</p>

		<p>
		  <strong><%= @group.students.count %> Students:</strong>
		  	<ol>
					<% @group.students.each do |student| %>
					  <li><%= link_to student.ename, student %> - <%= student.cname %> - <%= student.dob %></li>
					<% end %>
				</ol>
		</p>

		<br>






				<p>
		  <strong><%= @group.appointments.count %> Appointments:</strong>
		  	<ol>
					<% @group.appointments.each do |appointment| %>
					  <li><%= link_to appointment.start, appointment %> - <%= appointment.teacher.ename %> - <%= appointment.ta %></li>
					<% end %>
				</ol>
		</p>




		<%= link_to 'Edit', edit_group_path(@group) %> |
		<%= link_to 'Back', groups_path %>
</div>