<div class="box">

		<h1>
			<center>
			  <div class="page-header">
					  <%= @group.name %>
				</div>
			</center>
		</h1>



		<p>
			<strong>Lead Teacher:</strong>
				<%= link_to @group.teacher.ename, @group.teacher %>
		</p>

		<p>
		  <strong>Teaching Assistant:</strong>
		  <%= @group.pa %>
		</p>

		<p>
		  <strong>Studying:</strong>
		  <%= @group.school %>
		</p>

		<p>
		  <strong><%= @group.students.count %> <%= link_to 'Students', students_path %>:</strong>
		  	<ol>
					<% @group.students.each do |student| %>
					  <li><%= link_to student.ename, student %> - <%= student.cname %> - <%= student.dob %></li>
					<% end %>
				</ol>
		</p>

		<br>

				<p>
		  <strong><%= @group.events.count %> <%= link_to 'Periods', events_path %>:</strong>
		  	<ol>
					<% @group.events.each do |event| %>
					  <li><%= link_to event.start_time, event %> - <%= event.teacher.ename %> - <%= event.ta %></li>
					<% end %>
				</ol>
		</p>
		<br />

		<% if current_user.admin? %>
		<%= link_to 'New event', new_event_path %> | 
		<%= link_to 'Edit Class', edit_group_path(@group) %> | 
		<% end %>
		<%= link_to 'All Classes', groups_path %>
</div>