<% page_header t('.header') %>

<div class="box">

		<h2>
			<center>
					  <%= @group.name %>
			</center>
		</h2>

<br />

		<p>
			<strong><%= t('.lead') %></strong>
				<%= link_to @group.teacher.ename, @group.teacher %>
		</p>

		<p>
		  <strong><%= t('.pa') %></strong>
		  <%= @group.pa %>
		</p>

		<p>
		  <strong><%= t('.type') %></strong>
		  <%= @group.school %>
		</p>

		<p>
		  <strong><%= @group.students.count %> Students:</strong>
		  	<ol>
					<% @group.students.each do |student| %>
					  <li><%= link_to student.ename, student %> - <%= student.cname %> - <%= student.dob %></li>
					<% end %>
				</ol>
		</p>

		<br>

				<p>
		  <strong><%= @group.events.count %> Class Periods:</strong>
		  	<ol>
					<% @group.events.each do |event| %>
					  <li><%= link_to event.start_time, event %> - <%= event.teacher.ename %> - <%= event.ta %></li>
					<% end %>
				</ol>
		</p>
		<br />

		<%= link_to 'All Classes', groups_path, class: "btn btn-primary" %>
		<%= link_to 'New event', new_event_path, class: "btn btn-default" %>
		<%= link_to 'Edit Class', edit_group_path(@group), class: "btn btn-default"  %>


</div>