  <%= page_header t('.header') %>
<h1>
  <center>
  <%= @event.group.name %>
  </center>
</h1>
 <br />
<div class="box">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>group:</strong>
  <%= @event.group.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @event.teacher.ename %>
</p>

<p>
  <strong>Teaching Assistant:</strong>
  <%= @event.ta %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
