<div class="box">
    <hr>
    <h2 class="intro-text text-center">Our English
        <strong>Teaching Team</strong>
    </h2>
    <hr>
    <div class="col-sm-4 text-center">
         <%= image_tag "tina1.jpg", :class => "img-responsive" %>
        <h3>Christina<br />
            <small>Director of Studies<br />
                Tianjin - China</small>
        </h3>
    </div>
    <div class="col-sm-4 text-center">
         <%= image_tag "josh1.jpg", :class => "img-responsive" %>
        <h3>Joshua<br />
            <small>International D.O.S<br />
                Massachusetts - USA</small>
        </h3>
    </div>
    <div class="col-sm-4 text-center">
         <%= image_tag "micky.jpg", :class => "img-responsive" %>
        <h3>Mickey<br />
            <small>Foreign Teacher<br />
            	New Hampshire - USA</small>
        </h3>
    </div>
    <div class="col-sm-4 text-center">    <!-- Krystal END !-->
        <%= image_tag "krys.jpg", :class => "img-responsive" %>
        <h3>Krystal<br />
            <small>English Teacher<br />
                Tianjin - China</small>
        </h3>
    </div>    <!-- Krystal END !-->
    <div class="col-sm-4 text-center"><!-- Mia START !-->
        <%= image_tag "mia.jpg", :class => "img-responsive" %>
        <h3>Mia<br />
            <small>English Teacher <br />
                Tianjin - China
            </small>
        </h3>
    </div><!-- Mia END !-->
    <!-- Vivian START !-->
    <div class="col-sm-4 text-center">
        <%= image_tag "viv.jpg", :class => "img-responsive" %>
        <h3>Vivian<br />
            <small>English Teacher <br />
                Tianjin - China</small>
        </h3>
    </div>
    <!-- Vivian END !-->
</div>