<hr>
<h3 class="intro-text text-center">Our 
<strong>English Teaching</strong> Team
</h3>
<hr>

<div class="col-sm-4 text-center">
     <%= image_tag "tina1.jpg", :class => "img-responsive" %>
    <h4>Christina<br />
        <small>Director of Studies<br />
            Tianjin - China</small>
    </h4>
</div>

<div class="col-sm-4 text-center">
     <%= image_tag "josh1.jpg", :class => "img-responsive" %>
    <h4>Joshua<br />
        <small>International D.O.S<br />
            Massachusetts - USA</small>
    </h4>
</div>

<div class="col-sm-4 text-center">
     <%= image_tag "micky.jpg", :class => "img-responsive" %>
    <h4>Mickey<br />
        <small>Foreign Teacher<br />
        	New Hampshire - USA</small>
    </h4>
</div>

<!-- Second Row -->


<div class="col-sm-4 text-center">    <!-- Krystal END -->
    <%= image_tag "krys.jpg", :class => "img-responsive" %>
    <h4>Krystal<br />
        <small>English Teacher<br />
            Tianjin - China</small>
    </h4>
</div>    <!-- Krystal END -->

<div class="col-sm-4 text-center"> <!-- Mia START -->
    <%= image_tag "mia.jpg", :class => "img-responsive" %>
    <h4>Mia<br />
        <small>English Teacher <br />
            Tianjin - China
        </small>
    </h4>
</div><!-- Mia END -->

<div class="col-sm-4 text-center">    <!-- Vivian START -->
    <%= image_tag "viv.jpg", :class => "img-responsive" %>
    <h4>Vivian<br />
        <small>English Teacher <br />
            Tianjin - China</small>
    </h4>
</div>    <!-- Vivian END -->
