<% page_header '关于我们' %>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About
                <strong>Balern Education</strong>
            </h2>
            <hr>
            <div class="col-md-6">
                <%= image_tag "slide-6.jpg", :class => "img-responsive img-border-left" %>
            </div>
            <div class="col-md-6">
                <p>
                    <%= t('.gourd') %>
                </p>
                <p>
                    Balern Education is rapidly evolving and today offers guitar, drum, and English classes. Upon its initial start-up Balern Education consisted of just Gourd. Today, the school has instructors from all over the world! Check out our blog to learn more about what we're up to!
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- START ////// CCs !-->
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <i class="fa fa-magic"></i> Our
                <strong>Course Advising</strong> Team
                <i class="fa fa-magic"></i>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center">
            <%= image_tag "sophia.jpg", :class => "img-responsive img-rounded" %>
            <h3>Sophia<br />
                <small>Director of Advising<br />
                    Tianjin - China</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <%= image_tag "balogo.png", :class => "img-responsive img-rounded" %>
            <h3><br />
                <small><br />
                </small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <%= image_tag "nic.jpg", :class => "img-responsive img-rounded" %>
            <h3>Nicole<br />
                <small>Course Asvisor <br />
                    Tianjin - China</small>
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
        <!-- END ////// CCs !-->

<br />

<!-- START ////// Drum School !-->
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <i class="fa fa-music"></i> Our
                <strong>Drum Instructing</strong> Team
                <i class="fa fa-music"></i>
            </h2>
            <hr>
        <div class="col-sm-4 text-center">
            <%= image_tag "prez.jpg", :class => "img-responsive img-rounded" %>
            <h3>Gourd<br />
                <small>President<br />
                    Tianjin - China</small>
            </h3>
        </div>
            <div class="col-sm-4 text-center">
            <%= image_tag "balogo.png", :class => "img-responsive img-rounded" %>
                <h3> <br />
                <small> 
                    <br />
                </small>
                </h3>
            </div>
        <div class="col-sm-4 text-center">
            <%= image_tag "lynn1.jpg", :class => "img-responsive img-rounded" %>
            <h3>Lynn<br />
                <small>Lead Drum Teacher <br />
                    Tianjin - China
                </small>
            </h3>
        </div>
    <div class="clearfix"></div>
    </div>
</div>
</div>
<!-- END ////// Drum School !-->

<br />

<!-- START ////// English School !-->
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <i class="fa fa-globe"></i> Our 
                <strong>English Teaching</strong> Team
                <i class="fa fa-globe"></i>
            </h2>
            <hr>

            <div class="col-sm-4 text-center">
                 <%= image_tag "chris.jpg", :class => "img-responsive img-rounded" %>
                <h3>Christina<br />
                    <small>Director of Studies<br />
                        Tianjin - China</small>
                </h3>
            </div>

            <div class="col-sm-4 text-center">
                 <%= image_tag "josh1.jpg", :class => "img-responsive img-rounded" %>
                <h3>Joshua<br />
                    <small>English Teacher<br />
                        Massachusetts - USA</small>
                </h3>
            </div>

            <div class="col-sm-4 text-center">
                 <%= image_tag "micky.jpg", :class => "img-responsive img-rounded" %>
                <h3>Mickey<br />
                    <small>English Teacher<br />
                        New Hampshire - USA</small>
                </h3>
            </div>

        </div>
    <div class="clearfix"></div>
    </div>
</div>


<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <!-- Second Row -->
            <div class="col-sm-4 text-center">    <!-- Krystal END -->
                <%= image_tag "krys.jpg", :class => "img-responsive img-rounded" %>
                <h3>Krystal<br />
                    <small>English Teacher<br />
                        Tianjin - China</small>
                </h3>
            </div>    <!-- Krystal END -->

            <div class="col-sm-4 text-center"> <!-- Mia START -->
                <%= image_tag "mia.jpg", :class => "img-responsive img-rounded" %>
                <h3>Mia<br />
                    <small>English Teacher <br />
                        Tianjin - China
                    </small>
                </h3>
            </div><!-- Mia END -->

            <div class="col-sm-4 text-center">    <!-- Vivian START -->
                <%= image_tag "viv.jpg", :class => "img-responsive img-rounded" %>
                <h3>Vivian<br />
                    <small>English Teacher <br />
                        Tianjin - China</small>
                </h3>
            </div>    <!-- Vivian END -->
            <!-- END ////// English School !-->
        </div>
    <div class="clearfix"></div>
    </div>
</div>
</div>