<% page_header t('.head') %>

<body>
  <div class="container">
    <div class="jumbotron">
        <p><%= t('.bookint') %></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'mouse1.jpg', :class => "img-circle" %>
      <div class="caption">
        <h3>ABC Mouse</h3>
        <p><%= t('.abc') %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'ce.png', :class => "img-circle" %>
      <div class="caption">
        <h3>The Cutting Edge</h3>
        <p><%= t('.ce') %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'lg.png', :class => "img-circle" %>
      <div class="caption">
        <h3>Let's Go!</h3>
        <p><%= t('.lg') %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
