<% page_header t('.head') %>

<body>
  <div class="container">
    <div class="jumbotron">
        <p><%= t('.bookint') %></p>
        <p><%= link_to t('.learnmore'), new_inquery_path, class: "btn btn-primary btn-lg" %> </p>
      </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'mouse1.jpg', :class => "img-circle" %>
      <div class="caption">
        <h3>ABC Mouse</h3>
        <p><%= t('.abc') %></p>
        <p>
          <%= link_to t('.button1'), "https://www.abcmouse.com/", class: "btn btn-primary" %>
          <%= link_to t('.button2'), new_inquery_path, class: "btn btn-default" %>
        </p>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'ce.png', :class => "img-circle" %>
      <div class="caption">
        <h3>The Cutting Edge</h3>
        <p><%= t('.ce') %></p>
        <p>
          <%= link_to t('.button1'), "http://www.pearsonlongman.com/newcuttingedge/", class: "btn btn-primary" %>
          <%= link_to t('.button2'), new_inquery_path, class: "btn btn-default" %>
        </p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'lg.png', :class => "img-circle" %>
      <div class="caption">
        <h3>Let's Go!</h3>
        <p><%= t('.lg') %></p>
        <p>
          <%= link_to t('.button1'), "https://elt.oup.com/student/letsgo/?cc=global&selLanguage=en", class: "btn btn-primary" %>
          <%= link_to t('.button2'), new_inquery_path, class: "btn btn-default" %>
        </p>
      </div>
    </div>
  </div>
</div>


  </body>
</html>
