<% page_header t('.welcome') %>

<h1 class="brand-name"><%= t('.title') %></h1>
<hr class="tagline-divider">
<h2>
    <small><%= t('.tag1') %>
        <strong><%= t('.tag2') %></strong> <%= t('.tag3') %>
    </small>
</h2>

  <div class="thumbnail">
        <div class="caption">
          <h3>欢迎光临</h3>
          <p> 
            您好 <%= current_user.name %>！
            <br />
            Today is <%= Time.now %>.
          </p>
          <p>
            Below is your account dashboard:
          </p>
        </div>
  </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Parent Resources:
        </div>
        <div class="panel-footer">
          <% @resources.each do |resource| %>
            <%= link_to resource.title, resource.url %>-
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Today's Classes:
        </div>
        <div class="panel-footer">
            <% @events.each do |event| %>
                <li><%= link_to event.group.name, event %>
                <%= event.start_time %>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Latest Message:
        </div>
        <div class="panel-footer"><%= Mailboxer::Message.count %></div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Homework
        </div>
        <div class="panel-footer">
          <% @homeworks.each do |homework| %>
            <li>
            <%= homework.group.name %>
            <%= homework.title %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Contract Details:
        </div>
        <div class="panel-footer">
          Contract Start Date: <%= current_user.student.contract_start if current_user.student %>
          <br />
          Contract Lenght: <%= current_user.student.contract_length if current_user.student %> days
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Latest from the Photo album:
        </div>
        <div class="panel-footer">
          <%= image_tag Photo.last.image.url(:thumb) %>
          <br />Posted by: <%= Photo.last.user.name %>
          <br /><%= Photo.last.description %>
        </div>
      </div>
    </div>

</div>    <!-- /.container -->


