<% page_header t('.welcome') %>

<h1 class="brand-name"><%= t('.title') %></h1>
<hr class="tagline-divider">
<h2>
    <small><%= t('.tag1') %>
        <strong><%= t('.tag2') %></strong> <%= t('.tag3') %>
    </small>
</h2>

  <div class="thumbnail">
        <div class="caption">
          <h3>欢迎光临</h3>
          <p> 
            您好 <%= current_user.name %>！
            <br />
            Today is <%= Time.now %>.
          </p>
          <p>
            Below is your account dashboard:
          </p>
        </div>
  </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Study at home:
        </div>
        <div class="panel-footer">
          <%= Resource.second.title %>
          <br /><%= Resource.first.title %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Study at home:
        </div>
        <div class="panel-footer">
          <%= link_to Event.first.start_time, (Event) %>
          <br /><%= link_to Event.second.start_time, (Event) %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Latest Message:
        </div>
        <div class="panel-footer"><%= Mailboxer::Message.count %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Homework
        </div>
        <div class="panel-footer"><%= Homework.first.title %></div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Contract Details:
        </div>
        <div class="panel-footer">
          Contract Start Date: <%= Student.first.contract_start %>
          <br />
          Contract Lenght: <%= Student.first.contract_length %> days
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          Latest from the Photo album:
        </div>
        <div class="panel-footer">
          <%= image_tag Photo.last.image.url(:thumb) %>
          <br />Posted by: <%= Photo.last.user.name %>
          <br /><%= Photo.last.description %>
        </div>
      </div>
    </div>

</div>    <!-- /.container -->


