<div class="box">
    <div class="col-lg-12 text-center">
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <%= image_tag "slide-1.jpg", :class => "img-responsive img-full" %>
                </div>
                <div class="item">
                    <%= image_tag "slide-2.jpg", :class => "img-responsive img-full" %>
                </div>
                <div class="item">
                    <%= image_tag "slide-5.jpg", :class => "img-responsive img-full" %>
                </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
        </a>
</div>
            <h2 class="brand-before">
                <small>Welcome to</small>
            </h2>
            <h1 class="brand-name">Balern Education</h1>
            <hr class="tagline-divider">
            <h2>
                  <small>Hangu's
                    <strong>Premier</strong> English school
                </small>
            </h2>
        </div>
    </div>
</div>

    <div class="box">
        <hr>
        <h2 class="intro-text text-center">Get an education
            <strong>worth learning</strong>
        </h2>
        <hr>
            <%= image_tag "intro1.jpg", :class => "img-responsive img-border img-left" %>
            <hr class="visible-xs">
            <p>We here at Balern Education understand the world's changing needs. China's landscape is drastically changing day-to-day. The skills required twenty years ago are obsolete.</p>
            <p>Thats where we come in! Foreign universities are producing more engineers, scientists, and leaders, than ever before. In order to succeed in today's China you have to be a member, you need to succeed in both the domestic and international market.</p>
            <p>Your child deserves a chance to change the world. Today's Chinese education is adequate. But you want more for your children. You want to give your children an education... worth learning.</p>
    </div>

    <div class="box">
        <hr>
        <h2 class="intro-text text-center">Balern really
            <strong>Cares</strong>
        </h2>
        <hr>
        <p>We pride ourselves in staying in touch with the cutting-edge of teaching methodology. We have certified and experienced teachers from all corners of the globe.</p>
        <p>With our teacher's divers backgrounds we can guarnteed that your student will get a head start in any academic situation. Balern Education strives to provide an environment that is not only going to give your child a head-start, but will also make your child stand-out from the crowd.</p>
    </div>


    <div class="box">
        <hr>
            <h2 class="intro-text text-center">Always stay 
                <strong>up-to-date</strong>
            </h2>
        <hr>
        <p>
            Are you currently enrolled in the Balern Education web app? If you are don't forget about all the added benefit of registering.
        </p>
        <br />
        <center>
            
            <% if user_signed_in? %><!-- DEVISE !-->
                <!-- Displays Nothing if user logged in -->
            <% else %>
            <p>
             <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
             <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
            </p>
            <% end %><!-- DEVISE !-->
       </center>
        <br />
        <p>
            Here you can find all the tools necessary to know how your child's studies are progressing. We are constantly updating our content with schedules, up-coming events, homework, photos, and teaching resources. Stay ahead of the curve!
        </p>
    </div>    <!-- /.container -->

<!-- jQuery -->
<script src="assets/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="assets/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>
