<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('.ename') %><br>
    <%= f.text_field :ename, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label t('.cname') %><br>
    <%= f.text_field :cname, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label t('.dob') %><br>
    <%= f.date_select :dob %>
  </div>

<br />

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', teachers_path, class: "btn btn-danger" %>
  </div>
<% end %>
