<div class="box">
<% page_header t('.header') %>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>English Name</th>
          <th>Chinese Name</th>
          <th>Date of Birth</th>
            <% if current_user.admin? %>
              <th colspan="3">Admin Options</th>
            <% end %>
        </tr>
      </thead>

      <%= will_paginate @students %>

      <tbody>
        <% @teachers.each do |teacher| %>
          <tr>
            <td><%= link_to teacher.ename, teacher %></td>
            <td><%= link_to teacher.cname, teacher %></td>
            <td><%= teacher.dob %></td>
            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
              <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @students %>

    <br />
    <%= link_to 'New Teacher', new_teacher_path, class: "btn btn-primary" %>
</div>
