<% page_header @teacher.ename %>
<p id="notice"><%= notice %></p>

<div class="box">
	<center>
		<h2>
			<%= @teacher.cname %>
		</h2>
	</center>

	<p>
	  <strong>Dob:</strong>
	  <%= @teacher.dob %>
	</p>

			<p>
			  <strong><%= @teacher.groups.count %> Classes:</strong>
			  	<ol>
					<% @teacher.groups.each do |group| %>
					  <li><%= link_to group.name, group %></li>
					<% end %>
				</ol>
			</p>

	<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
	<%= link_to 'Back', teachers_path %>
</div>

