<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @homework.group_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @homework.title %>
</p>

<p>
  <strong>Date Assigned:</strong>
  <%= @homework.assigned %>
</p>

<p>
  <strong>Date Due:</strong>
  <%= @homework.due %>
</p>

<p>
  <strong>Assigned to Class:</strong>
  <%= @homework.group.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @homework.instructions %>
</p>

<%= link_to 'Edit', edit_homework_path(@homework) %> |
<%= link_to 'Back', homeworks_path %>
