<% page_header "Photo Album" %>

<p>
<%= link_to 'Add Photo', new_photo_path, class: "btn btn-primary" %>
</p>
<br>

<div id="photos" class="transitions-enabled">
  <% @photos.each do |photo| %>
    <div class="bot panel panel-default">
      <%= image_tag photo.image.url(:medium) %>
      <div class="panel-body">
        <%= photo.description %>
        <br />
        <%= photo.user.name if photo.user %>
        <br />
        <%= link_to 'Show', photo_path(photo) %>
        <% if photo.user == current_user %>
          <%= link_to 'Edit', edit_photo_path(photo) %>
          <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br />
<br />
<br />
