<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="from-group">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="from-group">
    <%= f.label :group %><br>
    <%= f.collection_select(:group_id, Group.all, :id, :name, prompt: true) %>
  </div>
  <div class="from-group">
    <%= f.label :teacher %><br>
    <%= f.collection_select(:teacher_id, Teacher.all, :id, :ename, prompt: true) %>
  </div>
  <div class="from-group">
    <%= f.label :ta %><br>
    <%= f.collection_select(:ta, Teacher.all, :ename, :ename, prompt: true) %>
  </div>
  <div class="from-group">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
