<div class="box">

<%= month_calendar  table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: {class: month_calendar_td_options}, events: @appointments do |date, appointments| %>
  <%= date.strftime("%B %e") %>
  <% appointments.each do |appointment| %>
    <div>
      <%= link_to appointment.group.name, appointment.group %> - 
      <%= appointment.starts_at.strftime("%H:%M") %>
    </div>
  <% end %>
<% end %>

<!-- //START// Admin Stuff -->
<% if current_user.admin? %>
	<br />
	<div class="page-header"><h3><%= Appointment.count %> Periods</h3></div>

  <table class="table">
    <thead>
      <tr>
        <th>Start Time</th>
        <th>Lead Teacher</th>
        <th>Class Name</th>      
        <th>Teaching Assistant</th>
        <th>Notes</th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.starts_at %></td>
          <td><%= appointment.teacher.ename %></td>
          <td><%= appointment.group.name %></td>
          <td><%= appointment.ta %></td>
          <td><%= appointment.note %></td>
          <td><%= link_to 'Show', appointment %></td>
          <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
          <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Period', new_appointment_path, class: "btn btn-default" %>
<% end %>
<!-- //END// Admin Stuff -->
</div>
