<footer>
    <div class="container"> 
        <br />
        | <%= link_to "Home", root_path %> |
        <%= link_to "About", about_path %> |
        <%= link_to "Inquire", new_inquery_path %> |
        <br />
        | <%= link_to "Messages", conversations_path %> |
        <%= link_to "Classes", groups_path %> |
        <%= link_to "Homework", "#" %> |
        <%= link_to "Calendar", appointments_path %> |
        <%= link_to "Photos", photos_path %> |
        <%= link_to "Teachers", teachers_path %> |
        <%= link_to "Students", students_path %> |
        <%= link_to "Settings", edit_user_registration_path %> |
        <br />
     		| <%= link_to "Sign up", new_user_registration_path %> |
        <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %> |       
        <% else %>
            <%= link_to "Sign in", new_user_session_path %> |
        <% end %>
        <center>
            <small>
                <p class="text-muted">
                     &copy; Balern Education & &copy; ToyMech Pro. 
                    <br /> 
                    Copyright 2015
                </p>
            </small>
        </center>
    </div>
</footer>