<div class="brand">Balern Education</div>
<div class="address-bar">
    116-118 Lv Di Business Street | Bin Hai New Area, Tianjin | 1.860.226.8341
</div>
<br />
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
    <a class="navbar-brand" href="#">Balern Edu.</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Resources", book_path %></li> 
      <li><%= link_to "Inquire", new_inquery_path %></li>

    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Account<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to "Messages", conversations_path %></li>
      <li><%= link_to "Classes", groups_path %></li>
      <li><%= link_to "Homework", "#" %></li>
      <li><%= link_to "Calendar", events_path %></li>
      <li><%= link_to "Photos", photos_path %></li>
      <li><%= link_to "Teachers", teachers_path %></li>
      <li><%= link_to "Students", students_path %></li>
      <li><%= link_to "Settings", edit_user_registration_path %></li>
      <li class="divider"></li>
      <!-- START DEVISE Condition !-->
      <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %>        
          <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
      <!-- END DEVISE Condition !-->
          </ul>
        </li>
      </ul>
  </div>
</nav>
<!-- /.navbar-collapse -->