<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Balern Edu.</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script src='assets/moment.min.js'></script>
        <script src='assets/fullcalendar.js'></script>
        <link rel='stylesheet' href='assets/fullcalendar.css'>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/550e33f4059b265f54260f0e/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
    <%= render 'layouts/header' %>
        <div class="container">                 <!-- Start container -->
            <% flash.each do |name, msg| %>     <!-- DEVISE FLASH -->
                <%= content_tag(:div, msg, class: "alert alert-info") %>
            <% end %>                           <!-- END DEVISE FLASH -->
            <div class="page-header">
                <h1>
                    <%= yield :page_header %>
                </h1>
            </div>
            <%= yield %>
        </div>                                  <!-- End Fluid container !--> 
    <%= render 'layouts/footer' %>

    </body>
</html>
